<div id="<%= dom_id personal_detail %>">
  <p>
    <strong>Phone number:</strong>
    <%= personal_detail.phone_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= personal_detail.email %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= personal_detail.gender %>
  </p>

  <p>
    <strong>Dob:</strong>
    <%= personal_detail.dob %>
  </p>

  <p>
    <strong>Marital status:</strong>
    <%= personal_detail.marital_status %>
  </p>

  <p>
    <strong>Blood group:</strong>
    <%= personal_detail.blood_group %>
  </p>

</div>
